.main-title {
  display: flex;
  background-color: #f5f3c1;
  align-items: center;
}

.main-title-a {
  text-align: center;
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: #f5f3c1;
}

.project-card {
  margin: 15px 30px;
  height: 100%;
  word-break: break-all;
}

.project-title {
  margin-bottom: 10px;
}

.project-card > h4 {
  text-align: center;
}

.project-slider {
  margin-top: 20px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
}

.img-container > img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: relative;
  cursor: pointer;
}

.arrow.left:hover::after,
.arrow.right:hover::after {
  border-top: 2px solid #555;
  border-right: 2px solid #555;
}

.arrow.left::after,
.arrow.right::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.arrow.left::after {
  right: 50%;
  transform: rotate(225deg);
}

.arrow.right::after {
  left: 50%;
  transform: rotate(45deg);
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #555;
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
}

article {
  margin: 0px 15px;
  text-align: left;
}

.info-article {
  width: 40%;
}

.link-wrapper {
  background-color: #f2dd68;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}

.detail-article {
  width: 60%;
}

.project-order {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(110, 110, 110);
}

@media screen and (min-width: 280px) and (max-width: 1100px) {
  .project-card-wrapper {
    width: 85vw;
  }

  .project-card {
    padding: 3vh 2vw;
  }

  .project-slider {
    height: 30vh;
  }

  section {
    flex-direction: column;
    margin-top: 20px;
  }
  
  .info-article {
    width: auto;
    margin-bottom: 35px;
  }

  .detail-article {
    width: auto;
  }
}

@media screen and (min-width: 280px) and (max-width: 650px) {
  .project-card-wrapper {
    width: 95vw;
  }

  .project-slider {
    height: 15vh;
  }

  .arrow.left::after,
  .arrow.right::after {
    width: 10px;
    height: 10px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }
}
